<li class="span3">
  <div class="spoon_thumbnail">
    <p><%= link_to(image_tag(ring.image, class:"album_thumbnail"), ring) %></p>
    <h6><%= ring.name %></h6>
    <p><%= ring.description %></p>
    <p><%= link_to 'Edit', edit_ring_path(ring) %> | <%= link_to 'Destroy', ring, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  </div>
</li>